[package]
name = "simple-plugin"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
phira-mp-plugin = { path = "../../" }
serde_json = "1.0"
anyhow = "1.0"

[profile.release]
opt-level = "s"
lto = true
codegen-units = 1
panic = "abort"